
.container {
  margin: 30px 30px auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.hero-bck {
  background-color: #1F2535;
}

.header {
position: relative;
height: 800px;
width: 100%;
}
.header .logo {
  position: absolute;
  top: 20px;
  left: 80px;
}

.header .burger-menu {
  position: absolute;
  top: 20px;
  right: 50px;
}

.paragraph {
  position: relative;
  color: white;
  width: 500px;
}

.paragraph h1 {
  position: absolute;
  color: white;
  bottom: 300px;
  left: 80px;
  font-size: 80px;
  font-weight: 800;
}

.paragraph p {
  position: absolute;
    color: white;
    bottom: 270px;
    left: 80px;
    width: 240px;
    font-size: 18px;
    font-weight: lighter;
}

button {
  position: absolute;
  bottom: 100px;
  left: 80px;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  color: #1b2235;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.main-content {
  padding: ;
  display: flex;
  color: #1b2235;
  justify-content: space-between;
  flex-direction: row;
    flex-wrap: wrap;
}

.main-content .myDiv {
  text-align: left;
  padding: 200px 80px;
}

.main-content .myDiv .para {
  color: rgb(85, 85, 85);
  width: 160px;

}

